body, p, div, h1, h2, h3, input, button {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    background-color: rgb(186, 186, 47);
}